/** Variable Imports **/
@import './variables.css';

/**
  CSS Reset
  Source: https://www.joshwcomeau.com/css/custom-css-reset/
**/
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}
/* 2. Remove default margin */
* {
  margin: 0;
}
body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}
/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/* 6. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}
/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}
/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/** Your CSS Below **/
* {
  font-family:'Outfit';
  padding: 5px;
  align-items: left;
}
body {
  background-color:var(--clr-stone100);
  margin: 50px;
  padding: 50px;
  font: var(--fs-base);
  font-size: var(--font-paragraph);
  font-weight: var(--fw-regular);
}
img {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 15px;
  padding:5px
 }
h1 {
  font-family:'Young-Serif' ;
  color: var(--clr-stone900);
}
h2 {
  font-family: 'Young-Serif';
  color: var(--clr-brown800);  
  padding: 10px;
}
h3 {
  color: var(--clr-rose800);
}
section {
  background-color: white;
  color: var(--clr-stone600);
  border-radius: 20px;
  padding: 10px;
}

section #prep {
    margin: 10px 20px;
    background-color: var(--clr-rose50);
    border-radius: 15px;
    /* padding : 5% */
  
}
tr {
  border-color:var(--clr-stone100) ;
  text-align: left;
  padding: 10px;
  width: 400px;
}
th,td {
  padding: 10px;
  width: 400px;
  border-bottom: 1px solid var(--clr-stone150) ;
}
td {
  color: var(--clr-brown800);
  font-weight: 800;
}
th {
  font-weight: 400;
} 
hr {
  padding: 0;
}
ul, ol {
  list-style: none;
  text-align:left;
  padding: 5px;
  /* text-wrap:wrap; */
}
ol {
    /* padding: 20px; */
    counter-reset: instr;
}
ol li::before {
  content : counter(instr) '.';
  counter-increment: instr;
  margin: 25px;
  color: var(--clr-brown800);
  font-weight: 800;
  font-size:medium;
}
ul li::before {
  content:  "•";
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
  margin: left 0px;
  margin-right: 12px;
  color: var(--clr-brown800);
}

/** Attribution CSS **/
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }